In [2]:
#from datascience import *
from collections import Counter
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import plotly.express as px
import seaborn as sns

In [3]:
#list of oakland police officers and dispatchers in 2019
#filter by 'police'
oak_emp = pd.read_csv("oakland-2019.csv")
oak_emp.columns = oak_emp.columns.str.replace(" ", "")

In [4]:

opd19 = pd.read_csv("OPD_PublicCallData_2019.csv")

In [5]:
#opd19.info()

In [6]:
#opd19.Source.unique()

In [7]:

opd19.shape

(442841, 16)

In [8]:
opd19.columns = opd19.columns.str.replace(" ", "")

In [11]:
#Descriptions cleaned organized and listed by type in Macro with 3 additional call types
calltype = pd.read_csv("call_type_sf.csv")

In [12]:
com_opd = opd19.merge(calltype, on='Description')

In [13]:
source_911 = com_opd[ com_opd[ 'Source'] == '911 CALL']

In [14]:
source_911.shape

(151363, 17)

In [15]:
calltype.CallType.unique()

array(['NON EMERGENCY OFFICER REQUIRED', 'SOCIETY', 'MISC POLICING',
       'SERVICE', 'HANG UP / UNFOUNDED', '311 FILE ONLINE', 'OTHER',
       'VIOLENT CRIME', 'MEDICAL', 'REPORT ONLINE OPD', 'PROPERTY',
       'FIRE', '311 URGENT', 'TRAFFIC'], dtype=object)

In [16]:
com_opd = opd19.merge(calltype, on='Description')

In [17]:
source_911 = com_opd[ com_opd[ 'Source'] == '911 CALL']

In [18]:
#can you make this a graphic?

call_desc = source_911.groupby('CallType')['Description'].count().sort_values(ascending=False).reset_index()
call_desc.head(10)

                         CallType  Description
0             HANG UP / UNFOUNDED        44637
1                         SOCIETY        30228
2                         MEDICAL        25945
3                         SERVICE        10595
4                   MISC POLICING        10528
5               REPORT ONLINE OPD         8822
6                   VIOLENT CRIME         8564
7                            FIRE         3228
8  NON EMERGENCY OFFICER REQUIRED         2815
9                         TRAFFIC         2276

In [19]:
#can you make this a graphic?

desc_call = source_911.groupby('Description')['CallType'].count().sort_values(ascending=False).reset_index()
desc_call.head(10)

            Description  CallType
0  911 HANG UP FROM ACC     28968
1   AMBULANCE REQUESTED     18683
2           911 HANG-UP      9621
3           415 UNKNOWN      9263
4               MISDIAL      6047
5  POLICE RELATED MATTE      5453
6          MENTALLY ILL      4157
7         AUTO BURGLARY      4154
8  DISTURBING THE PEACE      3686
9               BATTERY      3325

In [20]:
#can you make this a graphic?

source_911.groupby('Priority')['Description'].count().sort_values(c=False)

TypeError: Series.sort_values() got an unexpected keyword argument 'c'

In [21]:
p2 = source_911[ source_911[ 'Priority'] == 2]

In [22]:
#can you make this a graphic?

p2.groupby('CallType')['Description'].count().sort_values(ascending=False).reset_index()

                          CallType  Description
0              HANG UP / UNFOUNDED        38585
1                          SOCIETY        22777
2                          SERVICE         8209
3                          MEDICAL         4379
4   NON EMERGENCY OFFICER REQUIRED         2222
5                REPORT ONLINE OPD         1670
6                    MISC POLICING         1629
7                          TRAFFIC         1015
8                    VIOLENT CRIME          923
9                             FIRE          809
10                           OTHER          491
11                      311 URGENT          214
12                 311 FILE ONLINE          186
13                        PROPERTY          157

In [23]:
#can you make this a graphic?

p2.groupby('Description')['CallType'].count().sort_values(ascending=False).reset_index()

              Description  CallType
0    911 HANG UP FROM ACC     28965
1             911 HANG-UP      9619
2             415 UNKNOWN      8555
3    DISTURBING THE PEACE      3319
4            MENTALLY ILL      2714
..                    ...       ...
203  POSSESSION OR PURCHA         1
204  THREATEN WITNESS/VIC         1
205  POSSESSION OF CONCEN         1
206  POLICE RELATED MATTE         1
207               WITNESS         1

[208 rows x 2 columns]

In [ ]:
Old code below

In [ ]:
disp = oak_emp.query('JobTitle.str.contains("Disp")')
disp.JobTitle.unique()

array(['Police Communications Dispatcher',
       'Fire Communications Dispatcher'], dtype=object)

In [ ]:
#find all columns
#find all rows
#find all variables for each column
#check for missing values

In [ ]:
#acs19_1 = pd.read_csv("ACSDP1Y2019.DP05-Data.csv")

In [ ]:
#oak_fbi_arrest = pd.read_csv("All Arrest by Offense_07-19-2024.csv")

In [ ]:
#qcalldat = pd.read_csv("Call_Data_20240714.csv")

In [ ]:
#ca_arrest = pd.read_csv("State of California Department of Justice - OpenJustice.csv")

In [ ]:
#oakland housing authority location data
#clean to only Oakland
#change address to block number by hundreds only 1234 lane --> 1200 lane
#make column bool for if OHA address from call
oha = pd.read_csv("public_housing_physical_inspection_scores_0620.csv")

In [ ]:
#cleaning description items for spelling errors and similar types.
opd19['Description'] = opd19['Description'].str.replace('ASSSAULT', 'ASSAULT',case=False)
opd19['Description'] = opd19['Description'].str.replace('CONCERT|COLISEUM EVENT|COLISEUM OR ARENT EV', 'EVENT', regex=True)
opd19['Description'] = opd19['Description'].str.replace('THROWING ITEMS AT A|THROWING SUBSTANCE A|THROWING SUBSTANCES', 'THROWING ITEM/SUBSTANCE', regex=True)
opd19['Description'] = opd19['Description'].str.replace('WAGON REQUEST|WAGON REQUESTED|WAGON REQUESTED JUVE', 'WAGON', regex=True)
opd19['Description'] = opd19['Description'].str.replace('VEHICLE COLLISION-CI|VEHICLE COLLISION-DR|VEHICLE COLLISION-HI|VEHICLE COLLISION-PE|VEHICLE COLLISION-UN|VEHICLE COLLISION/PR', 'COLLISION', regex=True)
opd19['Description'] = opd19['Description'].str.replace('DISORDERLY CONDUCT:', 'DISORDERLY CONDUCT', case=False)
opd19['Description'] = opd19['Description'].str.replace('DISTURBANCE-AUTO|DISTURBANCE-CUSTOMER|DISTURBANCE-DRINKERS|DISTURBANCE-JUVENILE|DISTURBANCE-LANDLORD|DISTURBANCE-NEIGHBOR|DISTURBANCE-UNWANTED', 'DISTURBANCE', regex=True)

In [ ]:
#merge calltype with opd19 by Description col
# Merge two DataFrames on a common column
opd_w_call = pd.merge(opd19, calltype, on='Description', how='inner')

In [ ]:
#reorder columns
opd_w_call = opd_w_call.iloc[:,[0,1,16,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]

In [ ]:
#select only useful columns address city and state
oha_filtered = oha[['ADDRESS', 'CITY', 'STATE_NAME']]

In [ ]:
#filter only Oakland  CA locations
oha_filtered = oha_filtered.loc[(oha['STATE_NAME'] == 'CA') & (oha['CITY'] == 'Oakland')]

In [ ]:
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('1029 Kirkham St', '1000 KIRKHAM ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('1089 26th St', '1000 26TH ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('1269 66th Ave', '1200 66TH AVE', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('1350 7th St', '1300 7TH ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('1621 Harrison St', '1600 HARRISON ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('1667 10th St', '1600 10TH ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('2001 Macarthur Blvd', '2000 MACARTHUR BLVD', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('2300 Chestnut St', '2300 CHESTNUT ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('570 16th St', '500 16TH ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('620 17th St', '600 17TH ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('6403 Fenham St', '6400 FENHAM ST', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('6920 Foothill Blvd', '6900 FOOTHILL BLVD', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('6951 Lion Way Apt 411', '6900 LION WAY', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('885 69th Ave', '800 69TH AVE', case=False)
oha_filtered['ADDRESS'] = oha_filtered['ADDRESS'].str.replace('930 66th Ave', '900 66TH AVE', case=False)
#oha_filtered needs to be merged as a bool with opd_w_call

In [ ]:
#only take Jobtitle column row where police or dispatch
#oak_emp[oak_emp['JobTitle'] = 'Police']
officers = oak_emp[oak_emp['JobTitle'].str.contains("Police")]
dispatch = oak_emp[oak_emp['JobTitle'].str.contains("Dispatch")]

In [ ]:
officer_disp = dispatch.merge(officers, on='JobTitle')
officer_disp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5476 entries, 0 to 5475
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeName_x       5476 non-null   object
 1   JobTitle             5476 non-null   object
 2   BasePay_x            5476 non-null   float64
 3   OvertimePay_x        5476 non-null   float64
 4   OtherPay_x           5476 non-null   float64
 5   Benefits_x           5476 non-null   float64
 6   TotalPay_x           5476 non-null   float64
 7   PensionDebt_x        0 non-null      float64
 8   TotalPay&Benefits_x  5476 non-null   float64
 9   Year_x               5476 non-null   int64
 10  Notes_x              0 non-null      float64
 11  Agency_x             5476 non-null   object
 12  Status_x             5476 non-null   object
 13  EmployeeName_y       5476 non-null   object
 14  BasePay_y            5476 non-null   float64
 15  OvertimePay_y        5476 non-null   float64
 16  OtherPay_y           5476 non-null   float64
 17  Benefits_y           5476 non-null   float64
 18  TotalPay_y           5476 non-null   float64
 19  PensionDebt_y        0 non-null      float64
 20  TotalPay&Benefits_y  5476 non-null   float64
 21  Year_y               5476 non-null   int64
 22  Notes_y              0 non-null      float64
 23  Agency_y             5476 non-null   object
 24  Status_y             5476 non-null   object
dtypes: float64(16), int64(2), object(7)
memory usage: 1.0+ MB

In [ ]:
#trying to isolate police and dispatch only and sum each and total all

In [ ]:
officer_disp.JobTitle.unique()

array(['Police Communications Dispatcher'], dtype=object)

In [ ]:
officer_disp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5476 entries, 0 to 5475
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeName_x       5476 non-null   object
 1   JobTitle             5476 non-null   object
 2   BasePay_x            5476 non-null   float64
 3   OvertimePay_x        5476 non-null   float64
 4   OtherPay_x           5476 non-null   float64
 5   Benefits_x           5476 non-null   float64
 6   TotalPay_x           5476 non-null   float64
 7   PensionDebt_x        0 non-null      float64
 8   TotalPay&Benefits_x  5476 non-null   float64
 9   Year_x               5476 non-null   int64
 10  Notes_x              0 non-null      float64
 11  Agency_x             5476 non-null   object
 12  Status_x             5476 non-null   object
 13  EmployeeName_y       5476 non-null   object
 14  BasePay_y            5476 non-null   float64
 15  OvertimePay_y        5476 non-null   float64
 16  OtherPay_y           5476 non-null   float64
 17  Benefits_y           5476 non-null   float64
 18  TotalPay_y           5476 non-null   float64
 19  PensionDebt_y        0 non-null      float64
 20  TotalPay&Benefits_y  5476 non-null   float64
 21  Year_y               5476 non-null   int64
 22  Notes_y              0 non-null      float64
 23  Agency_y             5476 non-null   object
 24  Status_y             5476 non-null   object
dtypes: float64(16), int64(2), object(7)
memory usage: 1.0+ MB

In [ ]:
officer_disp.drop([7,9,19,22], inplace=True)

In [ ]:
officer_disp.drop_duplicates(inplace=True)

In [ ]:
officer_disp.shape

(5472, 25)

In [ ]:
#officer_disp.head(5)
officer_count = officer_disp[['JobTitle', 'Agency']]
officer_count.head(5)

                      JobTitle   Agency
0        Police Officer (Pers)  Oakland
1        Police Officer (Pers)  Oakland
2        Police Officer (Pers)  Oakland
3  Lieutenant Of Police (Pers)  Oakland
4           City Administrator  Oakland

In [ ]:
#nine11only = opd19[opd19['Source']=='911 CALL']

#p1 = nine11only[nine11only['Priority']==1]
#p1 = p1[['Description','Priority']]
#p1 = p1.groupby(['Description']).count().reset_index()
#p1 = p1.rename(columns={"Priority": "Count"})
###p1.sort_values(['Count'], ascending=[False])
#p1.head(5)

In [ ]:
#desc_count_total = desc_group.groupby(['Description']).count().reset_index()
##desc_count_total = desc_count_total.rename(columns={"Priority": "Count"})
#desc_count_total.sort_values(['Count'], ascending=[False])
#desc_count_total.head(5)

In [ ]:
#prior_count = nine11only[nine11only['Description','Priority']]

In [ ]:
#prior_count = desc_group.groupby(['Priority']).count().reset_index()
#prior_count.head(5)